name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.20
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --rm-dist
        env:
          # To upload Homebrew recipe to dtan4/homebrew-tools, we need a personal token
          # instead of Action's temporary token
          GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
